<header class="pure-u-1">
    <nav>
        <a href="#/create" class="pure-button pure-button-primary">Create</a>
        <a href="#/delete" class="pure-button pure-button-primary">Delete</a>
        <a href="#/update" class="pure-button pure-button-primary">Update</a>
    </nav>
</header>

<main class="pure-g-r">
    <section class="pure-u-1">
        <h2>Create a user!</h2>
        <div class="pure-u-1">
            <table class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Superpower</th>
                </tr>
                </thead>
                <tr ng-repeat="(id, user) in users">
                    <td>{{ id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.superpower }}</td>
                </tr>
            </table>
        </div>
        <div class="pure-u-1">
            <h3>Create your user</h3>
            <form class="pure-form pure-form-aligned" name="user" ng-submit="createUser()">
                <fieldset class="pure-group">
                    <input id="name"
                           name="name"
                           type="text"
                           ng-model="name"
                           placeholder="Name"/>
                    <input id="age"
                           name="age"
                           type="text"
                           ng-model="age"
                           placeholder="Age"/>
                    <input id="superpower"
                           name="superpower"
                           type="text"
                           ng-model="superpower"
                           placeholder="Superpower"/>
                </fieldset>
                <input type="submit" class="pure-button pure-button-primary" value="Create!">
            </form>
        </div>
    </section>
</main>