<header class="pure-u-1">
    <nav>
        <a href="#/user-feature/create" class="pure-button pure-button-primary">Create</a>
        <a href="#/user-feature/delete" class="pure-button pure-button-primary">Delete</a>
        <a href="#/user-feature/update" class="pure-button pure-button-primary">Update</a>
    </nav>
</header>

<main class="pure-g-r">
    <article class="pure-u-1">
        <h2>AngularJS $resource tutorial</h2>
        <p>This is a how to $resource!</p>

        <ul>
            <li>Create</li>
            <li>Read</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>

        <p>Everything $resources in this mini tutorial</p>
    </article>
</main>
