<h2>Message</h2>
<h4>{{ message }}</h4>

<form ng-submit="submitMyForm()" name="awesomeform">
    <label for="name">Name: <input id="name" name="name" type="text" ng-model="name"/></label>
    <label for="surname">Surname: <input id="surname" name="surname" type="text" ng-model="surname"/></label>
    <label for="uid">UID: <input id="uid" name="uid" type="text" ng-model="uid"/></label>
    <label for="agree"><input id="agree" name="agree" type="checkbox" ng-model="agree"/>I Agree to the TOS</label>
    <input type="submit" value="Submit my form">
</form>